@model Universidad_Tiene_Docente
@{
}
<h1>Create_Universidad_Docente</h1>

<form asp-controller="Universidad_Tiene_Docente" asp-action="Agregar_universidad_tiene_docente" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label>Universidad</label>
            <label asp-for="Id_Universidad" class="control-label"></label>
            <select asp-for="Id_Universidad" class="form-control">
                @foreach (var item in CRUD.Universidads)
                {
                    <option value="@item.Id_Universidad">@item.Id_Universidad - @item.Nombre_Universidad</option>
                }
            </select>
            <span asp-validation-for="Id_Universidad" class="text-danger"></span>
        </div>
        <div class="input-group-prepend">
            <label>Docente</label>
            <label asp-for="Id_Docente" class="control-label"></label>
            <select asp-for="Id_Docente" class="form-control">
                @foreach (var item in CRUD.Docentes)
                {
                    <option value="@item.Id_Docente">@item.Id_Docente - @item.Nombre_Docente</option>
                }
            </select>
            <span asp-validation-for="Id_Docente" class="text-danger"></span>
        </div>
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Agregar">
    </p>

</form>