@model Maestria_Imparte_Docente
@{
}
<h1>Create_Maestria_Docente</h1>

<form asp-controller="Maestria_Imparte_Docente" asp-action="Agregar_maestria_imparte_docente" method="post">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label>Maestria</label>
            <label asp-for="Id_Maestria" class="control-label"></label>
            <select asp-for="Id_Maestria" class="form-control">
                @foreach (var item in CRUD.Maestrias)
                {
                    <option value="@item.Id_Maestria">@item.Id_Maestria - @item.Nombre_Maestria</option>
                }
            </select>
            <span asp-validation-for="Id_Maestria" class="text-danger"></span>
        </div>
        <div class="input-group-prepend">
            <label>Docente</label>
            <label asp-for="Id_Docente" class="control-label"></label>
            <select asp-for="Id_Docente" class="form-control">
                @foreach (var item in CRUD.Docentes)
                {
                    <option value="@item.Id_Docente">@item.Id_Docente - @item.Nombre_Docente</option>
                }
            </select>
            <span asp-validation-for="Id_Docente" class="text-danger"></span>
        </div>
    </div>
    <p>
        <input class="btn btn-primary" type="submit" value="Agregar">
    </p>

</form>